
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://media.istockphoto.com/id/1410656746/es/foto/vista-digital-del-estadio-de-f%C3%BAtbol-iluminada-por-focos-azules-y-campo-de-c%C3%A9sped-verde-vac%C3%ADo.jpg?s=1024x1024&w=is&k=20&c=kaZ_R5FdSwvV_IPAX1lyvAQUQCYWb94iMAc6itwJaBU=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Oscurecer para que el formulario resalte */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}


.login-box {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
}


.login-box h2 {
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.input {
    width: 85%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    outline: none;
}


.btn-ingresar {
    background: #00c853;
    color: #fff;
    border: none;
    padding: 12px;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-ingresar:hover {
    background: #009624;
}


.volver {
    display: block;
    margin-top: 16px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.volver:hover {
    text-decoration: underline;
}
