
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f0f4f8 !important;
    background-image: none !important;
}

html {
    background-color: #f0f4f8 !important;
}

body {
    background-color: #f0f4f8 !important;
    background-image: none !important;
}

.dashboard-layout {
    background-color: #f0f4f8 !important;
    background-image: none !important;
}

.wrapper {
    background-color: #f0f4f8 !important;
    background-image: none !important;
}

.content {
    background-color: #f0f4f8 !important;
    background-image: none !important;
}
